@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
    <link type="image/x-icon" href="~/Content/images/favico.ico" rel="icon" />
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1 class="text-danger"><span class="glyphicon glyphicon-remove-circle"></span> 出错啦！</h1>
        <h2>Sorry，本宝宝在处理您的请求时遇到了一点儿麻烦呢，赶快去联系系统管理员哈！</h2>
        <img src="~/Content/images/weixin.jpg" /><p>获取更多资讯，也可以扫码关注我们的官方微信公众号哦！</p>
    </div>
</body>
</html>