@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPageTopMain.cshtml";
}
<style>
    .container-fluid .about {
        line-height: 40px;
    }
</style>
<div class="container-fluid">
    <p class="about">
        &nbsp;  &nbsp;&nbsp;  &nbsp;南方教育装备产业发展智库是由江门市蓬江区南方教育装备创新研究院负责建设的教育装备高端专家智库，是在教育部教育装备研究与发展中心指导下、江门市蓬江区人民政府的支持下建立的，集产业规划、技术研发、技术指导与咨询、人才培养、科技评估于一体的专家智库。上半年成功邀请了分别来自美国马里兰大学、澳大利亚格里菲斯大学、华中科技大学、南京师范大学、华南师范大学等国内外高等院校、研究机构专家学者进入产业发展智库。
    </p>
    <p class="about">
        &nbsp;  &nbsp;&nbsp;  &nbsp; 截止目前，共近50名国内外专家与顾问进入智库，其中包括"国家青年千人计划"一位。
    </p>
</div>
