.mid-banner {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    background-image: url(../../Content/images/mid-bar.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.mid_banner {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    background: url(../../Content/images/mid-baner.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.mid_banner, .mainbox, .content_right, .navgiation_left {
    display: block;
}

.mainbox {
    width: 100%;
    min-height: 800px;
}

.navgiation_left {
    padding: 20px;
    width: 300px;
    height: 100%;
    float: left;
    overflow: hidden;
    display: block;
    min-height: 800px;
}

.nav-column {
    margin: 100px auto;
    padding: 0px;
    width: 280px;
    min-height: 400px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    text-align: center;
    background: -webkit-linear-gradient(top,#DCDCDC,#F5F5F5);
    background: -moz-linear-gradient(top,#DCDCDC,#F5F5F5);
}

    .nav-column li {
        list-style: none;
        line-height: 30px;
        height: 30px;
        padding: 40px;
        display: inline-block;
        font-size: 20px;
    }



    .nav-column a {
        letter-spacing: 2px;
        color: #4F4F4F;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

.on {
    color: blue !important;
    border-left: 3px solid blue;
    background: #BEBEBE;
    border-radius: 3px;
}

.nav-column a:hover {
    padding: 0px 10px;
    border-left: 3px solid blue;
    border-radius: 3px;
    color: blue;
    background-color: #BEBEBE;
}

.content_right {
    padding-right: 10px;
    min-height: 800px;
    margin-left: 340px;
    display: block;
}

.clearfix {
    clear: both;
}
